html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e6e7e9;
    background-color: #1B2838;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 1rem 0;
}
nav {
    background-image: radial-gradient(#2D4158, #2A2E33);
}
nav ul {
    margin: 0;
    padding: 1rem 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
    padding: 0 1rem;
    color: #C5CBD6;
    text-transform: uppercase;
}
nav ul li:first-child {
    padding-left: 0;
}
nav ul li.active {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    color: white;
}
nav ul li:hover {
    color: white;
    text-shadow: 0 0 5px white;
}
nav a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 960px;
}
figure {
    margin: 0;
}
figure img {
    width: 100%;
}